body {
  margin: 0;
}

#root {
  background-color: Silver;
  min-height: 910px;
}

.input {
  padding-bottom: 10px;
}

.buttonAdd {
  color: white;
  background-color: black;
  padding-top: 10px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.buttonDeleted {
  color: white;
  background-color: #581d61;
  padding: 10px 0 5px 0;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.buttonAdd:hover {
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid black;
  color: white;
}

.buttonDeleted:hover {
  background-color: rgba(88, 29, 97, 0.75);
  border: 2px solid #581d61;
  color: white;
}